<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="cordova-plugin-webviewbg"
        version="1.0.0">

  <name>webviewbg</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <asset src="www/Webviewbg.js" target="js/Webviewbg.js"/>

  <js-module src="www/Webviewbg.js" name="Webviewbg">
     <clobbers target="webviewbg" />
  </js-module>

  <platform name="android">

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="Webviewbg">
        <param name="android-package" value="de.mopsdom.webviewbg.Webviewbg"/>
		<!--param name="onload" value="true"/-->
      </feature>
    </config-file>

    <source-file src="src/android/Webviewbg.java" target-dir="src/de/mopsdom/webviewbg"/>

  </platform>


</plugin>